/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 108px
}

.section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 10px;
    transform: translateX(-50%);    
    background: #f1c40f;
}

/* Splash */
.splash {
    height: 100vh;
    position: relative;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/0623ef83810423.5d4859d670d9e.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash i {
    font-size: 30px;
    background: #f1c40f;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    border-radius: 50%;
}

.page-title {
    position: relative;
    color: #fff;
    font-size: 60px;
    margin: 48px 0 0 0;
    font-variant: small-caps;
}

.page-title::after {
    position: absolute;
    content: '';
    bottom: -24px;
    left: 50%;
    width: 100px;
    height: 10px;
    transform: translateX(-50%);    
    background: #f1c40f;
}

.page-subtitle {
    color: #fff;
    font-size: 18px;
    margin: 48px 0 0 0;
}

/* Intro */
.intro {
    background: #fff;
}

.intro p {
    width: 70%;
    margin: 0 auto;
    padding: 48px 0;
    font-size:  24px;
    border-top: 1px solid #f1c40f;
    border-bottom: 1px solid #f1c40f; 
}

/* About */
.about {
    background: #f0f0f0;
}

.about p {
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 24px;
}

/* Skills */
[class^='skill-'] {
    position: relative;
}

.skill-image {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 99;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}

.skill-image img:hover {
    transform: scale(1.1); 
}

.skill-right .skill-image {
    right: 0;
} 

.skill-right .skill-description {
    padding: 36px 55% 36px 0;
    text-align: right;
}

.skill-left .skill-description {
    padding: 36px 0 36px 55%;
    text-align: left;
}

/* Footer */
.page-footer {
    background-color: black;
    color: #fff;
    height: 200px;
    position: relative;
}

.page-footer .section-title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



